@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1e293b; /* slate-800 */
  color: white;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}